<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" /> 
<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" /> 

<style type="text/css">
.careermap-base {
    position: relative;
}

.careermap-base img{
    width: 300px;
    height: 300px;
}

.careermap-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 400px;
}

.layer-box {
    width: 20px; height: 20px; 
    margin-right: 5px;
}


.question_layer, .question_basemap, #layer_row, #basemap_row, .stat_id_container, #question_json, #table_json  {
    display:none;
}

/* hiding the submit button */
input {
    display:none;
}

.description {
    width: 200px;
}

.table_container {
    width:300px;
    overflow:auto;
}

.table_container tr td, .table_container tr th {
    white-space:nowrap;
}

.layer-controls tr td a{
    color: #999999;

}

.layer-controls tr.selected_layer td a {
    color: #000000;
}

tr.selected_layer div.layer-box {
    /*background-image: url("http://kang.ccnmtl.columbia.edu:7894/site_media/css/../img/uncharted_logo.png"); */
    background: url("../../../site_media/img/tick.png") no-repeat scroll left 0px transparent;
    background-repeat: no-repeat;
    display: block;  /* may not need this, but I've found I do */

}


.did_you_know_title {
   height: 150px;  /* do we still need this? */
   font-size:80%;
}

#left_hand_td, #right_hand_td {
    vertical-align:top;
}

</style>
