<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" /> 
<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" /> 

<style type="text/css">
.careermap-base {
    position: relative;
}

.careermap-base img{
    width: 300px;
    height: 300px;
}

.careermap-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 400px;
}

.layer-box {
    width: 20px; height: 20px; 
    margin-right: 5px;
}


.question_layer, .question_basemap, #layer_row, #basemap_row, .stat_id_container, #question_json, #table_json  {
    display:none;
}

/* hiding the submit button */
input {
    display:none;
}

.description {
    width: 200px;
}

.table_container {
    width:300px;
    overflow:auto;
}

.selected_layer {
    bgcolor:"#ff6600";
    font-size: 120%;
}

</style>
